figure img {
  transition-timing-function: ease-in-out;
  transition: all 0.4s;
}

figure img:hover{
  transform: scale(1.1);
}

.navbar-item {
  transition: 0.2s;
}

.button {
  transition: 0.2s
}

.has-background-lightblue {
  background-color: #e6ebff;
  color: black
}

.has-background-lightgreen {
  background-color: #b3ffb3;
  color: black
}


.msg-erro{
  color: red !important;
  font-size: 16px;
}

.input-erro{
  border: 1px solid red !important;
}

.input-erro::placeholder {
  color: red !important;
  opacity: 0.6 !important;
}


.card.media:not(:last-child) {
    margin-bottom: 0.75rem
}

.card.is-horizontal {
    flex-direction: row;
    display: flex;
    flex-basis: 50ex;
    flex-grow: 0;
    flex-shrink: 1;
}

.card-image {
      flex: 2;
      flex-shrink: 2;
}

.image {
    display: block;
    position: relative;
    overflow: hidden;
    height: 100%;
    width: 100%
}

img {
  height: 100%;
  object-fit: cover;
  object-position: center
}

.card-content {
    flex: 3;
    flex-shrink: 3
}
